{% load static %}
<!DOCTYPE HTML>
<html lang="en">
<head>
<title>ProjectY</title>
<meta charset="utf-8">
<title>{% block title %}{% endblock %}</title>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="{% static 'style.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>

  {% if user.is_authenticated %}
  <div id="mySidebar" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="basketball">Basketball</a>
    <a href="callofduty">Call of Duty</a>
    <a href="cricket">Cricket</a>
    <a href="fifa">FIFA</a>
    <a href="football">Football/Soccer</a>
    <a href="fortnite">Fortnite</a>
    <a href="ludo">Ludo King</a>
    <a href="nba">NBA</a>
    <a href="pubg">PUBG</a>
    <a href="skribbl">Skribbl.io</a>
    <a href="uno">Uno!</a>
    <a href="others">Others</a>
  </div>
  {% endif %}
  <div class="page-header">
    <div id="main">
      <button class="openbtn" onclick="openNav()">☰</button>
    </div>
    {% if user.is_authenticated %}
    <p class="top-menu">
      Hello, {{ user.username }}<a href="{% url 'logout' %}" class="top-menu"><small>(Log out)</small></a></p>


    {% endif %}
    <h1><a href="/" title="Home Page">Sports</a><i class="fas fa-blog"></i></h1>

  </div>


        {% block content %}
        {% endblock %}


  </div>
  <script>
    function openNav() {
      document.getElementById("mySidebar").style.width = "250px";
      document.getElementById("main").style.marginLeft = "250px";
    }

    function closeNav() {
      document.getElementById("mySidebar").style.width = "0";
      document.getElementById("main").style.marginLeft= "0";
    }
    </script>
</body>


</html>
