{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'app1.css' %}">

  </head>
  <body>
    <div class="page-header">
      {% if user.is_authenticated %}
          <p class="top-menu">
          <a href="{% url 'post_draft_list' %}" class="top-menu" title="Drafts"><i class="fab fa-firstdraft" ></i></a>
          <a href="{% url 'post_new' %} " class="top-menu" title="Create a blog"><i class="fas fa-plus" ></i></a>
          Hello, {{ user.username }}<a href="{% url 'logout' %}" class="top-menu" ><small>(Log out)</small></a></p>

      {% else %}
      <p class="top-menu"><small>(Login)</small><a href="{% url 'login' %} " class="top-menu" title="Login" >
            <i class="fas fa-sign-in-alt fa-2x"></i></a></p>
      {% endif %}
      <h1><a href="/" title="Home Page">Sports</a><i class="fas fa-blog"></i></h1>

    </div>
    <div class= "content container">
      <div class="row">
          <div class="col-md-8">

              {% block content %}
              {% endblock %}

          </div>
      </div>
    </div>

  </body>
</html>
