{% extends 'base.html' %}

{% block content%}

{% if user.is_authenticated %}
<h1 style="color: white;"> Welcome {{user}} </h1>
<a href="/create"><button class="btn-2" style="background-color: #ffffff; color: teal;margin-left: 15%;">Create</button></a>
<a href="/posts2"><button class="btn-2" style="background-color: yellow; color: black;">View</button></a>
<a href="{% url 'get_user_profile' user.username %}"><button type="button" class="btn-2" style="background-color: red;">Profile</button></a>
<h1>Events you may be interested in</h1>
{% for post in allposts %}
<a href='/posts/{{ post.url }}/'>{{ post.title }} </a>
<br><br>

{% endfor %}

{% else %}

<h1 style="color: white;">Welcome, please login or create an account to continue -</h1>
<a href="signup?next=index.html"><button class="btn-1" style="margin-left: 20%;"><span>signup</span></button></a>
<a href="accounts/login"><button class="btn-1" style="background-color: indigo; margin-left: 20%;"><span>login</span></button></a>

{% endif %}
{%endblock%}
